### Node ###
# Logs
logs
*.log
npm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/

# Optional eslint cache
.eslintcache

# VSCode
.vscode-test
.vscode/settings.json

# Local Netlify folder
.netlify

#dist
dist
